<div class="row">
    <section class="col-xs-4">
        <ul class="list-group">
            {{!-- Cycles through each burger... --}}
            {{#each burgers}}
                {{!-- ...unless it has been devoured list out all cases --}}
                {{#unless this.devoured}}
                    <li class="list-group-item">
                        {{!-- Display burger name --}}
                        {{this.burger_name}}
                        <button type="submit" form="{{this.id}}" class="btn btn-danger btn-block">Devour</button>
                    </li>
                    {{!-- this.id renders the given burger's ID --}}
                    <form action="/{{this.id}}?_method=PUT" method="POST" id="{{this.id}}" class="hidden-xs-up"></form>
                {{/unless}}
            {{/each}}
        </ul>
    </section>
    <section class="col-xs-4">
        <h2>Add New Burger</h2>
        <form method="POST" action="/" class="form">
            <div class="form-group">
                <input type="text" name="burger" class="form-control"></input>
            </div>
            <button type="submit" class="btn btn-success btn-block">Submit Burger</button>
        </form>
    </section>
    <section class="col-xs-4">
        <ul class="list-group">
            {{!-- Cycles through each burger... --}}
            {{#each burgers}}
                {{!-- ...and lists out all cases that have been devoured --}}
                {{#if this.devoured}}
                    {{!-- Display burger name --}}
                    <li class="list-group-item">{{this.burger_name}}</li>
                {{/if}}
            {{/each}}
        </ul>
    </section>
</div>
